body{
    margin:0px;
    font-family: Poppins;    
}

#header{
    font-size: 60px;
    font-weight: 700;

    font-family: Yeseva One;
}

.golden-color{
    color:goldenrod;
}

.vertical-line{
    border-left:  4px solid salmon;
    height: 150px;
    padding: 0px 15px;
    
}

p{
    font-size: 20PX;
    text-align: justify;  
   
    
}
h2{
    font-size: 40px;
    font-weight: 700;
}

h3{
    font-size: 22px;
    font-weight: 700;
}


.faxible-container{
    display:flex;
    margin: 60px 40px;
}
.half-width{
    width:50%;
    padding-left: 70px;
    

}
.half-width img{
    
    width:80%;
    padding-left: 50px;
}

.anchore-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 10px;
        
}

#second-header{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 700;
}



.flex-container-2{
    display: flex;
    flex-direction: row;
    padding: 60px;
    margin-bottom: 20px;


}

.flex-container-2 img{
    width: 30%;
}

#flex-1{

    background-color: rgba(79, 157, 166 , 0.1);
    border-radius: 20px;
}
#flex-2{

    background-color: rgba(196, 72, 28, 0.1);
    
    border-radius: 20px;
}
#flex-3{

    background-color: rgba(33, 34, 3, 0.1);   
    border-radius: 20px;
}
.flex-sort{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 30px;
}

#banner-section-3{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 227px 227px;
    
}

#banner-section-4{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;

    background-size: 200px 200px;
    background-position: right bottom;
    padding: 70px 10px;
}

#achivement_header{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    
}

.achivement-box{

    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;

  }

  #box-1{
    border-top: 7px solid;
    border-left: 7px solid;
    border-image: linear-gradient(goldenrod,black);
    border-image-slice: 1;
    border-radius: 15px;


}

#box-2{
    border-top: 7px solid;
    border-left: 7px solid;
    border-image: linear-gradient(black,cyan);
    border-image-slice: 1;
    border-radius: 15px;
}


#footer{

    font-family: 'Lobster Two';
    font-style: italic;
    color:white;
    background-color: black;
    padding:10px;
    margin-top: 80px;
    height: 100%;
    text-align: center;
}


#footer p{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
}

