body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Ubuntu', sans-serif;

}

h1{
    font-size: 60px;
    font-weight: 700;

}
p{
    font-size: 24px;
    
}
.vertical-line{
    border-left:  4px solid salmon;
    height: 200px;
    padding: 0px 15px;
    
}

.golden-color{
    color:goldenrod;
}

.faxible-container{
    display:flex;
    margin-top: 52px;
}
.half-width{
    width:50%;
    padding-left: 70px;

}
.half-width img{
    
    width:80%;
    padding-left: 50px;
}

.anchore-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 4px;
        
}


#second-h2{
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
    font-weight: 700;
}

h3{
    font-size: 22px;
    font-weight: 700;
}

.flex-container-2{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-bottom: 20px;


}

.flex-container-2 img{
    width: 30%;
}

#flex-1{

    background-color: #4f9da6;
    border-radius: 10px;
}
#flex-2{

    background-color: #FF5959;
    
    border-radius: 10px;
}
#flex-3{

    background-color: #FFF4d6;    
    border-radius: 10px;
}
.flex-sort{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 30px;
}

#banner-section-3{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px 300px;
}
